  .container {
    width: 150%;
    height: 100vh;
    background: rgb(243, 223, 241);
  }
  #display {
    position: absolute;
    width: 30%;
    height: 15%;
    background: #e5e5e5;
    box-shadow: inset 10px 10px 10px gray;
    text-align:center;
    font-size: 45px;
    letter-spacing: 3px;
    color:black;
    text-shadow: 3px 3px 2px gray, -3px 3px 3px white;
  }
  
  .container:active {
    /* lg namixing of to color here only the background color will show while clicking */
    background: linear-gradient(90deg, #7fb8e9, #ee8be3);
  }
 
  .container:hover #display {
    /* lg namixing of to color */
    background: linear-gradient(90deg, #ee8be3, #7fb8e9);
    box-shadow: none;
  }
